.grid-container{
   display: grid; 
   /* display: inline-grid; */
   grid-template-columns: auto auto auto;
   background-color: #2196F3;
   padding: 10px;
   column-gap: 50px;
   row-gap: 50px; 
   /* justify-content: space-evenly; */
   /* justify-content: space-around; */
   /* justify-content: space-between;*/
   /* justify-content: center; */
    /* justify-content: start; */
    /* justify-content: end;*/
}  
.grid-container2{
   display: grid; 
   grid-template-columns: auto auto auto;
   background-color: red;
   padding: 10px;
   column-gap: 50px;
   row-gap: 50px; 
   margin-top: 20px;
   height: 400px;
  /* align-content: center; */
  /* align-content: space-evenly; */
  /* align-content: space-around; */
  /* align-content: space-between; */
  align-content: center;
  align-content: end;
} 

.grid-item{
   background-color: rgba(255, 255, 255, 0.8); 
   border: 1px solid rgba(0, 0, 0, 0.8);
   /* padding: 20px;
  font-size: 30px;
  text-align: center; */
  padding: 20px;
  font-size: 30px;
  text-align: center;

} 

 .item-1{
   grid-column: 1/5;
} 

